.title-container{padding-left: 0 !important}
.preloader{display: none}

.title1{background: white}
.slider-area .slider-1 h1 a, .slider-area .slider-2 h1 a {color: black; padding: 3px 10px 15px 10px; display: block !important;}
.slider-area .slider-1 div.title1 {background: white;
    color: black; padding-left: 8px; padding-bottom: 5px;}
.slider-area .slider-1 div.title2  {background: white; margin-bottom: 30px;
    color: black; padding-left: 8px; padding-bottom: 5px;}
.slider-area .slider-2 div.title2  {background: white;
    color: black; padding-left: 8px; padding-bottom: 5px;}

.slider-area .slider-2 div.slider-botton, .slider-area .slider-1 div.slider-botton{margin-top: 350px}
.right-image img{height: 255px}
.top-right-slider1{margin-bottom: 28px !important}
.title2{text-transform: unset}
.boto-soc{width: 90PX;  text-align: center;}

.s-tb-c {vertical-align: bottom !important;}
.slider-area .slider-2 div.slider-botton, .slider-area .slider-1 div.slider-botton{margin-top: unset}
.slider-right ul li .right-content {left: unset; padding: 0 11px 0px;}

.fa.fa-x-twitter{
    font-family:sans-serif;
}
.fa.fa-x-twitter::before{
    content:"𝕏";
    font-size:1.2em;
}
.banner{
    margin:10px;

}
.banner-mini{

    /*width: 250px;*/
}
.slider-banner {
    display: flex;
    flex-direction: row; /* Fila (horizontal) por defecto */
    gap: 20px; /* Espacio entre banners */
    justify-content: space-between; /* Distribuir espacio entre los banners */
}

.slider-banner a {
    flex: 1; /* Los enlaces (banners) ocuparán el mismo ancho */
}

.banner img {
    width: 100%;
    height: auto;
}

/* Responsive: Cambia a disposición vertical en pantallas pequeñas */
@media (max-width: 768px) {
    .slider-banner {
        flex-direction: column; /* Cambia a columna (vertical) en pantallas pequeñas */
    }

    .slider-banner a {
        margin-bottom: 10px; /* Espacio entre banners en vertical */
    }
}

#foto-suscripcion{
    width: 60%;
    height: 509px;
    border: 1px solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Responsive: Cambia a disposición vertical en pantallas pequeñas */
@media (max-width: 768px) {

    .home-about-area .title2 {
        margin: 10px 0 25px;
        text-transform: uppercase;
    }

    #foto-suscripcion{
        width: 100%;
        height: 300px;
    }
}

.fa.fa-search {
    font-family: 'FontAwesome' !important;
    font-size: 12px !important;
    display: inline-block !important;
    visibility: visible !important;
}

.header-bottom-area .search .search-box {


    width: 90% !important;

}

.banner-top{
    padding: 55px 0 5px 0;
}

.banner-lateral{
    padding: 5px 0 0 0;
}